<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="Styles/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.2.1.min.js"></script>
    <link href="Styles/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <title>AngularJs</title>
    <script>
        angular.module('notesApp', [])
            .controller('MainCtrl', [function () {
                var self = this;
                self.submit = function () {
                    console.log('User clicked submit with ', self.user);
                };
            }]);
    </script>
</head>
<body class="container">
    <form name="myForm" class="form-group-lg" ng-controller="MainCtrl as ctrl" ng-submit="ctrl.submit()">
        <div class="row">
            <div class="col-xs-12">                
                <input name="uname" class="form-control" type="text" ng-model="ctrl.user.username" required ng-minlength="4" />
                <!--Displaying error messages in forms-->
                <span ng-show="myForm.uname.$dirty">
                    <!--The moment we assign a name to any of the form elements, AngularJS creates a property under the form variable
                        Each of these child elements will inherit the form validation states as the form variable as shown below-->
                    <span ng-show="myForm.uname.$error.required">This field is required</span>
                    <span ng-show="myForm.uname.$error.minlength">Minimum length required is 4</span>
                    <span ng-show="myForm.uname.$invalid">This field is invalid</span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input name="pwd" class="form-control" type="password" ng-model="ctrl.user.password" required />
                <!--Chaining form validation values-->
                <span ng-show="myForm.pwd.$error.required && myForm.pwd.$dirty">This field is required</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input class="form-control" type="submit" value="Submit" ng-disabled="myForm.$invalid" />
            </div>
        </div>
    </form>
</body>
</html>