<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="Styles/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.2.1.min.js"></script>
    <link href="Styles/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <title>AngularJs</title>
    <script>
        angular.module('notesApp', [])
            .controller('MainCtrl', [function () {
                var self = this;
                self.notes = [
                    { 'id': 1, 'label': 'First', 'done': false },
                    { 'id': 2, 'label': 'Second', 'done': false },
                    { 'id': 3, 'label': 'Third', 'done': true },
                    { 'id': 4, 'label': 'Fourth', 'done': false },
                ];
                self.moreNotes = {
                    shyam: {
                        id: 1,
                        label: 'First note',
                        done: false
                    },
                    Misko: {
                        id: 2,
                        label: 'Second note',
                        done: true
                    },
                    brad: {
                        id: 3,
                        label: 'Third note',
                        done: false
                    }
                };
            }]);
    </script>
</head>
<body class="container" ng-app="notesApp">
    <div class="row">
        <div class="col-xs-12" ng-controller="MainCtrl as ctrl">
            <!--This div is repeated for all elements in ctrl.notes
                Looping over an array in ng-repeat-->
            <div ng-repeat="note in ctrl.notes">
                <p class="lead">{{note.label}} {{note.done}}</p>
            </div>
            <hr />
            <!--Looping over a map in ng-repeat-->
            <div ng-repeat="(author, note) in ctrl.moreNotes">
                <p><strong>{{author}}</strong> {{note.label}}</p>
            </div>
            <hr />
            <!--Helpers for ng-repeat-->
            <div ng-repeat="note in ctrl.notes">
                <p class="lead">{{note.label}} {{note.done}}</p>
                <!--$first tells whether the current element of the repeater is the first element of list.
                    Similar logic applies to the rest of the helper variables-->
                <p>is_first_element: {{$first}}</p>
                <p>is_middle_element: {{$middle}}</p>
                <p>is_last_element: {{$last}}</p>
                <p>element_index: {{$index}}</p>
                <p>element_at_even_pos: {{$even}}</p>
                <p>element_at_odd_pos: {{$odd}}</p>
                <br />
            </div>
            <hr />
            <table class="table table-bordered table-hover">
                <!--Repeat sibling DOM elements using ng-repeat-start and ng-repeat-end.
                    All the sibling elements between these two markers will be repeated.-->
                <tr ng-repeat-start="note in ctrl.notes">
                    <td>{{note.label}}</td>
                </tr>
                <tr ng-repeat-end>
                    <td>Done: {{note.done}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>